<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books store</title>
</head>
<body>
    <p><b>title:</b><br>
        <input type="text" size="40">
    <p><b>subtitle:</b><br>
        <input type="text" size="40">
    <p><b>description:</b><br>
        <input type="text" size="40">
    <p><b>price:</b><br>
        <input type="text" size="40">
    <p><b>author:</b><br>
        <input type="text" size="40">
    <p><b>genre:</b><br>
        <input type="text" size="40">
    <p><b>year:</b><br>
        <input type="text" size="40">
    <p><input type="submit" value="Отправить">
        <input type="reset" value="Очистить"></p>
</body>
</html>