<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="./styles/ckeckbox.css" />
    <link rel="stylesheet" href="./styles/index.css" />

</head>

    <body>
        <section>

            <div class='create_container'>
            <input 
              class="create input" 
              type="text" 
              pleceholder="Напишите сюда новую задачу" 
            />
            <button class="create_button">Добавить</button>
            </div>

            <div class="todo container">
                <div class="todo_item">
                  <div class="todo_item_header">
                    <label class="checkbox_comtainer">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>13.01.2021<span>20:10</span></p>
                    <div class="action_buttons">
                        <img src="./Icons/unmarked.png">
                        <img src="./Icons/delete.png">
                    </div>
                 </div>
                </div>
            
                <div class="todo_item marked">...
                    <div class="todo_item_header">
                        <label class="checkbox_comtainer">
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div class="todo_item_footer">
                        <p>13.01.2021<span>20:10</span></p>
                        <div class="action_buttons">
                            <img src="./Icons/marked.png">
                            <img src="./Icons/delete.png">
                        </div>
                     </div>
                </div>
    
                <div class="todo_item done">...
                    <div class="todo_item_header">
                        <label class="checkbox_comtainer">
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div class="todo_item_footer">
                        <p>13.01.2021<span>20:10</span></p>
                        <div class="action_buttons">
                            <img src="./Icons/unmarked.png">
                            <img src="./Icons/delete.png">
                        </div>
                     </div>
                </div>
    
                <div class="todo_item marked">...
                    <div class="todo_item_header">
                        <label class="checkbox_comtainer">
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div class="todo_item_footer">
                        <p>13.01.2021<span>20:10</span></p>
                        <div class="action_buttons">
                            <img src="./Icons/marked.png">
                            <img src="./Icons/delete.png">
                        </div>
                     </div>
                </div>
    
                <div class="todo_item">...
                    <div class="todo_item_header">
                        <label class="checkbox_comtainer">
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div class="todo_item_footer">
                        <p>13.01.2021<span>20:10</span></p>
                        <div class="action_buttons">
                            <img src="./Icons/unmarked.png">
                            <img src="./Icons/delete.png">
                        </div>
                     </div>
                </div>
    
                <div class="todo_item done">...
                    <div class="todo_item_header">
                        <label class="checkbox_comtainer">
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div class="todo_item_footer">
                        <p>13.01.2021<span>20:10</span></p>
                        <div class="action_buttons">
                            <img src="./Icons/unmarked.png">
                            <img src="./Icons/delete.png">
                        </div>
                     </div>
                </div>

            </div>

        </section>
    </body>
</html>